@media all and (max-width: 1000px) {
	h1{
		text-align: center;
	}
	.text{
		width: 100%;
		padding-bottom: 0px;
	}
	.top{
		padding-bottom: 30px;
	}
}

@media all and (max-width: 670px) {
	h1{
		text-align: center;
	}
	.text{
		width: 100%;
		padding-bottom: 0px;
	}
	.top{
		padding-bottom: 30px;
	}
}
