@media all and (max-width: 1000px) {
	.container2{
		padding: 0 30px;
	}
}

@media all and (max-width: 670px) {
	.navToggle{
		display: block;
	}
	.container{
		padding: 0 10px;
	}
	.container2{
		padding: 0 10px;
	}
	.top-wrapper h1{
		font-size: 70px;
	}
	.header-right{
		display: none;
	}
	.icon{
		text-align: center;
	}
	.contents{
		width: 100%;
		padding-bottom: 10px;
	}
	.works img{
		width: 50%;
	}
	.blog h2{
		font-size: 30px;
	}
	.hidari{
		width: 30%;
	}
	.input{
		width: 70%;
	}
	.migi textarea{
		width: 100%;
	}
	.top{
		position: relative;
		top: 150px;
	}
	.top{
		padding-bottom: 50px;
	}
}
