*{
	box-sizing: border-box;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color: rgba(232,232,232,0.5);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:  black;
}

.container{
	width: 100%;
	padding: 0 55px;
	margin: 0 auto;
}
.container2{
	width: 100%;
	padding: 0 190px;
	margin: 0 auto;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 65px;
	background-color: rgba(255,255,255,0.7);
	font-family: 'Alegreya Sans SC', sans-serif;
}
.header-left{
	float: left;
	font-size: 30px;
	line-height: 65px;
}
.header-right{
	float: right;
	list-style: none;
}
.header-right li{
	float: left;
	line-height: 65px;
	padding-right: 30px;
}
.under {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.under::after {
  position: absolute;
  bottom: 15px;
  right: 15px;
  content: '';
  width: 100%;
  height: 1px;
  background: #231815;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.under:hover::after {
  transform: scale(1, 1);
}

nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.6s;
    width: 100%;
}
 
nav.globalMenuSp ul {
    background: #F7F7F7;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
 
nav.globalMenuSp ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted #333;
}
 
/* 最後はラインを描かない */
nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
 
nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
}
 
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    transform: translateY(0%);
}

.navToggle {
	display: none;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 8px;
    top: 8px;
    width: 42px;
    height: 51px;
    cursor: pointer;
    z-index: 3;
    text-align: center;
}
 
.navToggle span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #231815;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}
 
.navToggle span:nth-child(1) {
    top: 9px;
}
 
.navToggle span:nth-child(2) {
    top: 18px;
}
 
.navToggle span:nth-child(3) {
    top: 27px;
}
 
.navToggle span:nth-child(4) {
    border: none;
    color: #231815;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}

/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}


.top-wrapper{
	color: white;
	padding: 280px 0 350px 0;
	text-align: center;
	background-image: url(img/Liquorbottles.jpg);
}
.top-wrapper h1{
	line-height: 110%;
	font-weight: normal;
	font-size: 100px;
	opacity: 0.8;
}
.top-wrapper h2{
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 2px;
	opacity: 0.8;
}


.profile{
	font-family: 'HiraMinProN-W3';
}
.icon img{
	width: 200px;
	height: 200px;
	margin-bottom: 15px;
	border-radius: 50%;
}
.name{
	padding-bottom: 14px;
	margin-bottom: 19px;
	border-bottom: 1px solid #C1C1C1;
}
.jp-name{
	font-size: 30px;
}
.eng-name{
	display: inline-block;
	margin-left: 10px;
	font-size: 17px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.header{
	text-align: center;
	padding: 60px 0 50px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 95px;
}
.text{
	margin-bottom: 15px;
}
.contents{
	float: left;
	width: 33%;
	padding-right: 60px;
}
.dai{
	font-size: 23px;
	padding-bottom: 5px;
	margin-bottom: 9px;
	border-bottom: 1px solid #C1C1C1;
}
.clear{
	clear: left;
}
.works img{
	padding: 0 10px 20px 10px;
	float: left;
	border-radius: 50%;
	width: 33%;
}
.header2{
	text-align: center;
	padding: 40px 0 50px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 95px;
}
.blog h2{
	font-size: 50px;
	text-align: center;
}
.blog a{
	font-weight: 100;
	font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
}
.contact{
	text-align: center;
	margin-bottom: 50px;
}
.hidari{
	font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック";
	float: left;
	width: 10%;
	height: 200px;
}
.hidari p{
	margin-bottom: 12px;
}
.input{
	float: left;
	width: 20%;
	height: 200px;
}
.input input{
	height: 18px;
	width: 80%;
	margin-bottom: 10px;
	border:1px solid #dee7ec;
	border-radius: 2px;
}
.input .send{
	display: inline-block;
	margin-top: 42px;
	margin-left: 27px; 
	width: 85%;
}
.send input{
	font-family: "Tsukushi B Round Gothic","筑紫B丸ゴシック"; 
	height: 20px;
	background-color: #E5E5E5;
	cursor: pointer;
}
.migi{
	float; left;
	height: 200px;
}
.migi textarea{
	position: relative;
	top: 3px;
	width: 570px;
	height: 160px;
	border:1px solid #dee7ec;
	border-radius: 2px;
}
footer{
	height: 105px;
}
.top{
	margin: 0 auto;
	text-align: center;
	width: 15%;
}
.top p{
	padding-bottom: 12px;
	border-bottom: 1px solid;
}
.top{
	position: relative;
	top: 40px;
}
